* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
  }
  
h1 {
    font-size: 36px;
    color: #333;
}
  
.botoes {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

.botoes:hover {
    background-color: #45a049;
}

.botoes:active {
    background-color: #3e8e41;
}