{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <h1>Página Sobre Palhoça</h1>

    <button class="botoes" onclick="navigateToHistoria()">Ir para a História</button>
    <button class="botoes" onclick="navigateToGaleria()">Ir para a Galeria</button>
    <button class="botoes" onclick="navigateToPontosTuristicos()">Ir para os Pontos Turísticos</button>
</body>
</html>
